.DS_Store
npm-debug.*

sftp-config.json

# Logs
logs
*.log

# Compressed file
*.min.js
*.min.css

# CDN config
.cdnconf.json

# Release data
dist

# Runtime data
runtime/
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

# IDE config
.idea
