html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 5px 10px;
}

#nav {
  padding: 6px;
}

#nav img {
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

#nav a {
  text-decoration: none;
  margin: 0 5px;
}

/*github stars*/
#nav iframe {
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

#code {
  width: 640px;
  position: absolute;
  font-size: 18px;
  left: 0;
  top: 0;
}

#code pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#code div {
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: block;
}

#code a.img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#code div a.close {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}