html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 5px 10px;
}

#nav {
  padding: 6px;
  line-height: 28px;
}

#nav img {
  vertical-align: middle;
  cursor: pointer;
  margin: 0 10px 6px 0;
}

#nav a,
#nav label {
  text-decoration: none;
  margin: 0 5px;
}

#nav label {
  cursor: pointer;
  user-select: none;
}

/*github stars*/
#nav iframe {
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

ul.languages {
  margin-right: 20px;
}

ul.settings,
ul.languages {
  padding: 0;
  font-size: 0;
  display: inline;
}

ul.languages li,
ul.settings li  {
  font-size: 16px;
  display: inline-block;
}

ul.languages.lang-default a[data-lang=default],
ul.languages.lang-css a[data-lang=css],
ul.languages.lang-erlang a[data-lang=erlang],
ul.languages.lang-go a[data-lang=go],
ul.languages.lang-haskell a[data-lang=haskell],
ul.languages.lang-lisp a[data-lang=lisp],
ul.languages.lang-lua a[data-lang=lua],
ul.languages.lang-sql a[data-lang=sql],
ul.languages.lang-swift a[data-lang=swift]
{
  font-size: 20px;
}

ul.settings li:not(:first-child) {
  border-left: solid 1px #333;
  padding-left: 5px;
}

ul.settings input {
  display: none;
}

ul.settings input:checked+label {
  color: #f00;
}

#code {
  /*width: 1280px;*/
  min-width: 360px;
  position: absolute;
  font-size: 36px;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

#code pre.wrap{
  white-space: pre-wrap;
  word-wrap: break-word;
}

#code pre.nowrap{
  white-space: pre;
  width: 100%;
}

#code pre {
  margin: 0;
  padding: 0;
}

#code pre.w1280{
  min-width: 1280px;
  font-size: 36px;
}

#code pre.w720{
  min-width: 720px;
  font-size: 20px;
}

#code pre.w480{
  min-width: 480px;
  font-size: 14px;
}

#code pre.w1280.wrap{
  width: 1280px;
}

#code pre.w720.wrap{
  width: 720px;
}

#code pre.w480.wrap{
  width: 480px;
}

#code pre code{
  margin: 0.5em;
  display: inline-block;
}

#code div {
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: block;
}

#code a.img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#code div a.close {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}